<?xml version='1.0' encoding='utf-8'?>
<widget id="com.adobe.phonegap.app" version="1.8.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>PhoneGap</name>
    <description>
        The PhoneGap Developer app is a testing utility for web developers and designers using the PhoneGap framework. After installing this app on your device you will be able to connect it to the PhoneGap desktop app to instantly view and test your work
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Adobe PhoneGap Team
    </author>
    <hook src="resources/script/before-test-runner.js" type="before_prepare" />
    <hook src="resources/script/after-test-runner.js" type="after_prepare" />
    <hook src="resources/script/copy-android-push-icon.js" type="before_build" />
    <hook src="resources/script/add-version.js" type="before_build" />
    <hook src="resources/script/remove-version.js" type="after_compile" />
    <preference name="StatusBarStyle" value="default" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="DisallowOverscroll" value="true" />
     <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="android-installLocation" value="auto" />
    <preference name="loadUrlTimeoutValue" value="70000000" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <access origin="*" />
    <content src="index.html" />
     <platform name="windows">
    </platform>
    <platform name="ios">
        <preference name="Orientation" value="all" />
        <preference name="AutoHideSplashScreen" value="false" />
        <icon height="167" src="resources/icon/ios/icon-83.5@2x.png" width="167" />
        <icon height="76" src="resources/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="resources/icon/ios/icon-76@2x.png" width="152" />
        <icon height="72" src="resources/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="resources/icon/ios/icon-72@2x.png" width="144" />
        <icon height="60" src="resources/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="resources/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/icon/ios/icon-60@3x.png" width="180" />
        <icon height="50" src="resources/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="resources/icon/ios/icon-50@2x.png" width="100" />
        <icon height="40" src="resources/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="resources/icon/ios/icon-40@2x.png" width="80" />
        <icon height="120" src="resources/icon/ios/icon-40@3x.png" width="120" />
        <icon height="57" src="resources/icon/ios/icon.png" width="57" />
        <icon height="114" src="resources/icon/ios/icon@2x.png" width="114" />
        <icon height="29" src="resources/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="resources/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/icon/ios/icon-small@3x.png" width="87" />
        <icon height="1024" src="resources/icon/ios/icon-1024.png" width="1024" />
        <splash height="480" src="resources/splash/ios/Default~iphone.png" width="320" />
        <splash height="960" src="resources/splash/ios/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="resources/splash/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="resources/splash/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="resources/splash/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="resources/splash/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="resources/splash/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="resources/splash/ios/Default-667h.png" width="750" />
        <splash height="2208" src="resources/splash/ios/Default-736h.png" width="1242" />
        <splash height="1242" src="resources/splash/ios/Default-Landscape-736h.png" width="2208" />
    </platform>
    
     <preference name="webviewbounce" value="true" />
    <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon" value="true" />
    <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview" value="false" />
    <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types" value="true" />
    <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend" value="false" />
    <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />
    <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen" value="true" />
    <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor" value="false" />
    <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-installLocation" value="auto" />
    <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="iosPersistentFileLocation" value="Library" />
    
    <platform name="android">
        <preference name="android-minSdkVersion" value="19" />
        <preference name="Orientation" value="default" />
        <preference name="SplashScreenDelay" value="0" />
        <icon density="ldpi" src="resources/icon/android/icon-36.png" />
        <icon density="mdpi" src="resources/icon/android/icon-48.png" />
        <icon density="hdpi" src="resources/icon/android/icon-72.png" />
        <icon density="xhdpi" src="resources/icon/android/icon-96.png" />
        <resource-file src="google-services.json" target="google-services.json" />
    </platform>
  <platform name="ios">
        <!-- iOS 8.0+ -->
        <preference name="deployment-target" value="7.0" />
        <preference name="target-device" value="handset" />
        <!-- iPhone 6 Plus  -->
        <icon src="img/iconlogo1024.png" width="1024" height="1024" />
        <icon src="img/iconlogo180.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="img/iconlogo60.png" width="60" height="60" />
        <icon src="img/iconlogo120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="img/iconlogo76.png" width="76" height="76" />
        <icon src="img/iconlogo152.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="img/iconlogo40.png" width="40" height="40" />
        <icon src="img/iconlogo80.png" width="80" height="80" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="img/iconlogo57.png" width="57" height="57" />
        <icon src="img/iconlogo114.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="img/iconlogo72.png" width="72" height="72" />
        <icon src="img/iconlogo144.png" width="144" height="144" />
        <!-- iPad Pro -->
        <icon src="img/iconlogo167.png" width="167" height="167" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="img/iconlogo29.png" width="29" height="29" />
        <icon src="img/iconlogo58.png" width="58" height="58" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="img/iconlogo50.png" width="50" height="50" />
        <icon src="img/iconlogo100.png" width="100" height="100" />
        <!-- iPad Pro -->
        <icon src="img/iconlogo167.png" width="167" height="167" />

    </platform>
    <engine name="android" spec="~6.4.0" />
    <engine name="ios" spec="^4.5.3" />
   
    <plugin name="cordova-plugin-battery-status" spec="^1.2.5" />
    <plugin name="cordova-plugin-ble-central" spec="^1.1.4">
        <variable name="BLUETOOTH_USAGE_DESCRIPTION" value="Bluetooth development purposes" />
    </plugin>
    <plugin name="cordova-plugin-device-motion" spec="^1.2.5" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.4" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.0" />
    <plugin name="cordova-plugin-globalization" spec="^1.0.8" />
    <plugin name="cordova-plugin-insomnia" spec="^4.3.0" />
    <plugin name="cordova-plugin-media" spec="^4.0.0">
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-media-capture" spec="^2.0.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Camera used for development purposes" />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="Microphone used for development purposes" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Photo library used for development purposes" />
    </plugin>
    <plugin name="cordova-plugin-network-information" spec="^1.3.4" />
    <plugin name="cordova-plugin-screen-orientation" spec="^2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="^2.3.0" />
    <plugin name="cordova-plugin-vibration" spec="^2.1.6" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^6.0.8">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Camera used for development purposes" />
    </plugin>
    <plugin name="phonegap-plugin-contentsync" spec="^1.4.1" />
    <plugin name="phonegap-plugin-mobile-accessibility" spec="^1.0.5" />
    <plugin name="phonegap-plugin-push" spec="^2.1.2">
        <variable name="FCM_VERSION" value="11.0.1" />
    </plugin>

<plugin name="cordova-plugin-contacts" spec="2.3.1" />
    <plugin spec="https://github.com/chrisdurfee/cordova-android-camera-permissions" source="git" />
    <plugin name="cordova-plugin-camera" spec="2.3.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="The app would like to access the camera when you attach photos to content." />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="The app would like to access the photo library when you attach images to content." />
    </plugin>
    <plugin name="cordova-pdf-generator" spec="1.0.0" />

    <plugin name="cordova-plugin-file" spec="4.0.0" />
    <plugin name="cordova-plugin-filepath" spec="1.0.0" />

    <plugin name="cordova-plugin-hidden-statusbar" spec="1.0.0" />

    <plugin name="cordova-plugin-inappbrowser" spec="3.0.0" />

    <plugin spec="https://github.com/apache/cordova-plugin-whitelist" source="git" />
    <plugin name="cordova-plugin-device" spec="~2.0.2" />

    <plugin name="cordova-plugin-ionic-keyboard" />

    <plugin name="cordova-plugin-x-socialsharing" source="npm" spec="5.4.0" />

    <plugin name="cordova-plugin-geolocation" version="2.1.0" />



       <!-- Allow links to example.com -->
    <allow-navigation href="http://twitter.com/*" />

    <!-- Wildcards are allowed for the protocol, as a prefix
     to the host, or as a suffix to the path -->
    <allow-navigation href="*://*.twitter.com/*" />

    <!-- A wildcard can be used to whitelist the entire network,
     over HTTP and HTTPS.
     *NOT RECOMMENDED* -->
    <allow-navigation href="*" />

    <!-- The above is equivalent to these three declarations -->
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />


    <!-- Allow links to web pages to open in a browser -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Allow links to example.com to open in a browser -->
    <allow-intent href="http://twitter.com/*" />

    <!-- Wildcards are allowed for the protocol, as a prefix
     to the host, or as a suffix to the path -->
    <allow-intent href="*://*.twitter.com/*" />

    <!-- Allow SMS links to open messaging app -->
    <allow-intent href="sms:*" />

    <!-- Allow tel: links to open the dialer -->
    <allow-intent href="tel:*" />

    <!-- Allow geo: links to open maps -->
    <allow-intent href="geo:*" />

    <!-- Allow all unrecognized URLs to open installed apps
     *NOT RECOMMENDED* -->
    <allow-intent href="*" />

    <!-- Allow images, xhrs, etc. to google.com -->
    <access origin="http://google.com" />
    <access origin="https://google.com" />
    <access origin="http://aspiregenesis-test.com" />

    <!-- Access to the subdomain maps.google.com -->
    <access origin="http://maps.google.com" />

    <!-- Access to all the subdomains on google.com -->
    <access origin="http://*.google.com" />
    <access origin="https://*.google.com" />

    <!-- Enable requests to content: URLs -->
    <access origin="content:///*" />

    <!-- Enable requests to cdvfile: URLs -->
    <access origin="cdvfile://*" />

    <!-- Don't block any requests -->
    <access origin="*" />
    <feature name="Contacts">
        <param name="ios-package" value="CDVContacts" />
    </feature>
    <feature name="Contacts">
        <param name="android-package" value="org.apache.cordova.ContactManager" />
    </feature>

    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>
    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>

    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>

    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>

    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
        <string>ReMinder needs Camera access to take pictures.</string>
    </edit-config>

    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
        <string>ReMinder needs Photo Library access.</string>
    </edit-config>

    <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
        <string>ReMinder needs Photo Library access to save pictures.</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
    <string>ReMinder need location access to find things nearby</string>
</edit-config>
 <edit-config target="NSContactsUsageDescription" file="*-Info.plist" mode="merge">
    <string>ReMinder need contact access to sync</string> 
</edit-config>

</widget>
